<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Uji Overfitting</h1>
    <form action="{% url 'skripsi:uji_overfitting' %}" method="post">
        {% csrf_token %}
        <button type="submit">proses</button>
    </form>

    
    {% if accuracy %}
        <h4>accuracy : {{ accuracy }}</h4>
        <h4>recall : {{ recall }}</h4>
        <h4>precision : {{ precision }}</h4>
        <h4>f_measure : {{ f_measure }}</h4>
    {% endif %}
        
</body>
</html>