{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% include 'snippets/stylesmain.html' %}
    
    {% block customstyle %}
        
    {% endblock customstyle %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include 'snippets/navbar.html' %}

        {% include 'snippets/sidebar.html' %}

        {% block content %}
        
        {% endblock content %}

        {% include 'snippets/footer.html' %}
    </div>

    {% include 'snippets/scriptsmain.html' %}
    {% block customscript %}
    {% endblock customscript %}
</body>

</html>